---
import BlogPost from "../../components/BlogPost.astro";
import { fetchPages } from "../../services/notion";
import DefaultLayout from "../../layouts/default.astro";
import type { Post } from "../../models/post";

const pages = await fetchPages();

const posts = pages.results.map(({ id, properties }: { id: string; properties?: Record<string, any> }) => {
  const name = properties?.Name;
  const summary = properties?.Summary;
  const tags = properties?.Tags;

  return {
    id,
    title: name?.title[0].plain_text,
    summary: summary?.rich_text?.map((richText: any) => richText.plain_text).join(""),
    tags: tags.multi_select.map((select: any) => ({
      name: select.name,
      color: select.color,
    })),
  };
});
---

<DefaultLayout
  title={"Blog"}
  description={`I've started writing since the start of 2023, mostly about web development the advancement of my tech careers. In total, I've written ${posts.length} articles on this site.`}
>
  <h3 class="mt-8 mb-4 text-2xl font-bold tracking-tight text-black md:text-4xl dark:text-white">All Posts</h3>
  {posts.map((post: Post) => <BlogPost {...post} />)}
</DefaultLayout>
