---
import { getCollection } from "astro:content";
import BlogPost from "../../components/BlogPost.astro";
import DefaultLayout from "../../layouts/default.astro";
import { filterPosts, groupBy, sortAsc } from "../../utils";

const posts = await getCollection("blog", filterPosts);
const reversedPosts = posts.sort(sortAsc);

const postsByYear = groupBy(reversedPosts, (post) => {
	const year = new Date(post.data.publishDate).getFullYear();
	return year.toString();
});
---

<DefaultLayout prose={false} title="Blog" description="A collection of my thoughts and ideas.">
  {Object.keys(postsByYear)
    .map((year) => Number(year)) // Convert keys to numbers for sorting
    .sort((a, b) => b - a) // Sort years in descending order
    .map((year) => {
      const yearKey = year.toString(); // Convert back to string for accessing the object
      return (
        <section class="mb-8">
          <h2 class="text-xl font-semibold italic">{year}</h2>
          <ul role="list" class="flex flex-col">
            {postsByYear[yearKey]?.map((post) => (
              <BlogPost post={post} />
            ))}
          </ul>
        </section>
      );
    })}
</DefaultLayout>;
