---
import BlogPost from "../../components/BlogPost.astro";
import Container from "../../components/Container.astro";
import { fetchPages } from "../../lib/notion";
import DefaultLayout from "../../layouts/Default.astro";

/* TODO: fix seo */
/* const url = "https://oscartegiffel.com/blog"; */
/* const title = "Blog – Oscar te Giffel"; */
/* const description = "Thoughts on the software industry, programming, tech, music, and my personal life."; */

const pages = await fetchPages();
const posts = pages.results.map(({ id, properties }: { id: string; properties?: Record<string, any> }) => {
  const name = properties?.Name;
  const summary = properties?.Summary;
  const tags = properties?.Tags;
  return {
    id,
    title: name.title[0].plain_text,
    summary: summary.rich_text.map((richText: any) => richText.plain_text).join(""),
    tags: tags.multi_select.map((select: any) => ({
      name: select.name,
      color: select.color,
    })),
  };
});
---

<DefaultLayout>
  <div className="flex flex-col items-start justify-center max-w-2xl mx-auto mb-16">
    <h1 className="mb-4 text-3xl font-bold tracking-tight text-black md:text-5xl dark:text-white">Blog</h1>
    <p className="mb-4 text-gray-600 dark:text-gray-100">
      {
        `I've started writing since the start of 2021, mostly about web development and tech careers.
            In total, I've written ${posts.length} articles on this site.`
      }
    </p>
    <h3 className="mt-8 mb-4 text-2xl font-bold tracking-tight text-black md:text-4xl dark:text-white">All Posts</h3>
    {posts.map((post) => <BlogPost {...post} />)}
  </div>
</DefaultLayout>
