---
import BlogPost from "../../components/BlogPost.astro";
import DefaultLayout from "../../layouts/default.astro";
import { getCollection } from "astro:content";
import type { Post } from "../../models";
const isProd = import.meta.env.PROD;

const posts = await getCollection("blog");
const filteredPosts = posts
  .filter(({ data }: Post) => (isProd ? !data.draft : true))
  .filter(({ data }) => (isProd ? data.publishDate.valueOf() <= new Date().valueOf() : true))
  .sort((a: Post, b: Post) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf());
---

<DefaultLayout title={"Blog"}>
  <h3 class="mt-8 mb-4 text-2xl font-bold tracking-tight md:text-4xl text-white">All Posts</h3>
  {filteredPosts.map((post: Post) => <BlogPost post={post} />)}
</DefaultLayout>
