@tailwind utilities;

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }

  .animation-delay-4000 {
    animation-delay: 4s;
  }
}

@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 100 900;
  font-display: optional;
  src: url(/fonts/IBMPlexSans-Regular.ttf) format("ttf");
}

@font-face {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 100 900;
  font-display: optional;
  src: url(/fonts/IBMPlexMono-Mono.ttf) format("ttf");
}

::selection {
  background-color: #47a3f3;
  color: #fefefe;
}

html {
  min-width: 360px;
  font-size: 16px;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
  @apply font-serif;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.sticky-nav {
  position: sticky;
  z-index: 10;
  top: 0;
}

.prose pre {
  @apply bg-gray-50 border border-gray-200 dark:border-gray-700 dark:bg-gray-900;
}

.prose code {
  @apply text-gray-800 dark:text-gray-200 px-1 py-0.5 border border-gray-100 dark:border-gray-800 rounded-md bg-gray-100 dark:bg-gray-900;
}

.prose code::before {
  content: "";
}

.prose code::after {
  content: "";
}

.prose img {
  /* Don't apply styles to next/image */
  @apply m-0;
}

/* Remove Safari input shadow on mobile */
input[type="text"],
input[type="email"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
