<div class="z-10 relative w-full max-w-lg">
  <div class="absolute top-0 -left-4 w-72 h-72 bg-purple-300 rounded-full mix-blend-multiply filter opacity-70 animate-blob ease-in-out blur-lg"></div>
  <div class="absolute top-0 -right-4 w-72 h-72 bg-yellow-300 rounded-full mix-blend-multiply filter opacity-70 animate-blob animation-delay-2000 ease-in-out blur-lg"></div>
  <div class="absolute left-20 w-72 h-72 bg-pink-300 rounded-full mix-blend-multiply filter opacity-70 animate-blob animation-delay-4000 ease-in-out blur-lg"></div>
</div>;
