---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import "../styles/global.css";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";

export interface Props {
  title?: string;
  description?: string;
  image?: string;
}

const { title, description, image = "/placeholder-social.jpg" } = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />

<!-- Primary Meta Tags -->
<title>{title || SITE_TITLE}</title>
<meta name="title" content={title || SITE_TITLE} />
<meta name="description" content={description || SITE_DESCRIPTION} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title || SITE_TITLE} />
<meta property="og:description" content={description || SITE_DESCRIPTION} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title || SITE_TITLE} />
<meta property="twitter:description" content={description || SITE_DESCRIPTION} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />

<link rel="preload" href="/fonts/inter-var-latin.woff2" as="font" type="font/woff2" cross-origin="anonymous" />
<link rel="preload" href="/fonts/IBMPlexSans-Regular.ttf" as="font" type="font/ttf" cross-origin="anonymous" />
<link rel="preload" href="/fonts/IBMPlexMono-Regular.ttf" as="font" type="font/ttf" cross-origin="anonymous" />
<link href="/static/favicons/favicon.ico" rel="shortcut icon" />
<link href="/static/favicons/site.webmanifest" rel="manifest" />
<link href="/static/favicons/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180" />
<link href="/static/favicons/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png" />
<link href="/static/favicons/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png" />
<link color="#4a9885" href="/static/favicons/safari-pinned-tab.svg" rel="mask-icon" />
<meta content="#ffffff" name="theme-color" />
<meta content="#ffffff" name="msapplication-TileColor" />
<meta content="/static/favicons/browserconfig.xml" name="msapplication-config" />
<meta content="14d2e73487fa6c71" name="yandex-verification" />
<meta content="eZSdmzAXlLkKhNJzfgwDqWORghxnJ8qR9_CHdAh5-xw" name="google-site-verification" />

<script is:inline>
  const theme = (() => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      return "dark";
    }
    return "light";
  })();

  if (theme === "light") {
    document.documentElement.classList.remove("dark");
  } else {
    document.documentElement.classList.add("dark");
  }
  window.localStorage.setItem("theme", theme);
</script>
