---
import dayjs from "dayjs";
import relativeTime from "dayjs/plugin/relativeTime"; // import plugin
import type { Post } from "../models";

dayjs.extend(relativeTime); // use plugin

export type Props = {
	post: Post;
};

const {
	post: {
		id,
		data: { title, description, draft },
	},
} = Astro.props;
---

<li class="relative transition duration-500 py-6" class:list={[{"bg-amber-500/50": draft}]} >
  <a class="w-full cursor-pointer block" href={`/blog/${id}`} id={id}>
      <h3 class="font-serif italic font-normal text-xl leading-tight tracking-tight mb-3">
        {title}
      </h3>
      {description && <p class="leading-relaxed dark:text-gray-300">{description}</p>}
  </a>
</li>
