---
import dayjs from "dayjs";
import type { Post } from "../models";

export type Props = {
	post: Post;
};

const {
	post: {
		id,
		data: { title, draft, publishDate },
	},
} = Astro.props;
---

<li class="relative transition duration-500 py-2" class:list={[{"outline outline-red-500": draft}]} >
  <p class="font-serif font-normal text-xl leading-tight tracking-tight ">
    <a class="inline-block cursor-pointer rounded hover:bg-primary/60 transition ease-in-out px-1" href={`/blog/${id}`}>
      {title}
    </a>
    <span class="text-gray-400 text-sm">{dayjs(publishDate).format("MM/DD")}</span>
  </p>
</li>
