---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import { MobileMenu } from "../components/mobile-menu.tsx";
import Sidebar from "../components/Sidebar.astro";

type Props = {
	title?: string;
	description?: string;
	headings?: { depth: number; slug: string; text: string }[];
	toc: boolean;
};

const { title, description, headings = [], toc = false } = Astro.props;
---
<html lang="en" class="dark:text-white dark:bg-background-dark antialiased bg-background">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body
    class="antialiased container md:px-10 py-16 grid grid-cols-1 auto-rows-max md:grid-cols-[200px_1fr] gap-8 mx-auto"
  >
    <Sidebar className="md:sticky md:top-20 justify-self-start hidden md:block" headings={headings} toc={toc} />

    <MobileMenu client:media="(max-width: 768px)" />

    <slot />
    <Footer class="md:col-start-2" />

  </body>
</html>
