---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import { MobileMenu } from "../components/mobile-menu.tsx";
import Sidebar from "../components/Sidebar.astro";
import TableOfContents from "../components/TableOfContents.astro";

type Props = {
	title?: string;
	description?: string;
	headings?: { depth: number; slug: string; text: string }[];
	toc: boolean;
};

const { title, description, headings = [], toc = false } = Astro.props;
---
<html lang="en" class="dark:text-white dark:bg-background-dark antialiased bg-background">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body
    class="antialiased container md:px-10 py-16 grid grid-cols-1 auto-rows-max md:grid-cols-[200px_1fr] 2xl:grid-cols-[200px_1fr_1fr] gap-8 mx-auto"
  >
    <div class="md:sticky md:top-20 justify-self-start hidden md:block 2xl:flex 2xl:flex-col">
      <Sidebar className="" />

      {toc && headings.length > 0 && (
        <div class="hidden md:block 2xl:hidden mt-8">
          <h2 class="text-sm font-semibold mb-2">Table of Contents</h2>
          <TableOfContents headings={headings} />
        </div>
      )}
    </div>

    <MobileMenu client:media="(max-width: 768px)" />

    <div class="flex flex-col px-8 md:px-0">
      <slot />
    </div>

    {toc && headings.length > 0 && (
      <aside class="hidden 2xl:block self-start">
        <h2 class="text-sm font-semibold mb-2">Table of Contents</h2>
        <TableOfContents headings={headings} />
      </aside>
    )}

    <Footer class="md:col-start-2 2xl:col-start-2" />

  </body>
</html>
