---
const { href } = Astro.props;
---

<a
  href={href}
  className="text-sm text-gray-500 hover:text-gray-400 dark:text-gray-200 transition"
  target="_blank"
  rel="noopener noreferrer"
>
  <slot />
</a>
