<div class="w-full h-[300px] overflow-hidden">
    <img 
        src="./background.svg" 
        alt="Blog header image" 
        class="w-full h-full object-cover"
    />
    <div class="absolute inset-0 bg-black/30"></div>
    
    <div class="absolute inset-0 flex items-center justify-center text-white">
        <h1 class="text-4xl font-bold">Welcome to My Blog</h1>
    </div>
</div>
