---
// Link.astro
const { href } = Astro.props;
const path = Astro.url.pathname;
const isActive = href === "/" ? path === href : path.startsWith(href);
---

<style>
  .nav-link {
    @apply relative px-3 py-2 text-neutral-400 font-medium transition-colors duration-200;
  }

  /* Dot indicator */
  .nav-link::before {
    content: '';
    @apply absolute -left-2 top-1/2 w-1.5 h-1.5 rounded-full bg-neutral-500 
    transform -translate-y-1/2 opacity-0 transition-opacity duration-200;
  }

  .nav-link:hover {
    @apply text-neutral-200;
  }

  .nav-link:hover::before,
  .nav-link:hover::after {
    @apply opacity-100;
  }

  .nav-link.current {
    @apply text-neutral-200 text-primary rounded-md;
  }

  .nav-link.current::before,
  .nav-link.current::after {
    @apply opacity-100 bg-primary;
  }
</style>

<a 
  href={href} 
  class:list={["nav-link", { current: isActive }]}
>
  <slot />
</a>
