---
// Link.astro
const { href } = Astro.props;
const path = Astro.url.pathname;
const isActive = href === "/" ? path === href : path.startsWith(href);
---

<a
  href={href}
  class:list={[
    "inline-block px-1 rounded-md transition ease-in-out hover:bg-primary/30 w-fit",
    { "bg-primary text-black": isActive }
  ]}
>
  <slot />
</a>
