---
import Link from "./Link.astro";
const { className } = Astro.props;
---

<aside class={className}>
  <nav class="sm:flex flex-row sm:flex-col space-x-1 sm:space-x-0 sm:pr-10 my-2 sm:mt-0 space-y-0 sm:space-y-1">
    <Link href="/">home</Link>
    <Link href="/blog">blog</Link>
    <Link href="/uses">uses</Link>
    <Link href="/workflow">workflow</Link>
    <Link href="/resources">resources</Link>
    <Link href="/snippets">snippets</Link>
  </nav>
</aside>
