---
import { Image } from "astro:assets";
import logo from "../assets/logo.webp";
import Link from "./Link.astro";
import TableOfContents from "./TableOfContents.astro";

type Props = {
	className?: string;
	toc?: boolean;
	headings?: { depth: number; slug: string; text: string }[];
};

const { className, headings = [], toc = false } = Astro.props;
---

<aside class={className}>
  <a href="/">
      <Image class="w-24 h-24 object-cover rounded-4xl" src={logo} alt="Oscar Te Giffel" />
    </a>
  <nav class="flex flex-col gap-1 my-5 font-semibold">
    <Link href="/">home</Link>
    <Link href="/blog">posts</Link>
    <Link href="/uses">uses</Link>
    <Link href="/workflow">workflow</Link>
    <Link href="/roadmap">roadmap</Link>
    <Link href="/principles">principles</Link>
  </nav>

  <div class="mt-8 pr-10">
    {toc && <TableOfContents headings={headings} />}
  </div>

   <!-- <ThemeToggle /> -->
</aside>
