---
export interface Props {
	headings: { depth: number; slug: string; text: string }[];
}

const { headings } = Astro.props;

const tocHeadings = headings.filter((h) => h.depth <= 3);
---

{tocHeadings.length > 0 && (
  <nav class="toc space-y-0.5 text-[13px]">
    <ul class="space-y-0.5">
      {tocHeadings.map((heading) => (
        <li
          class:list={[
            {
              "pl-0": heading.depth === 2,
              "pl-3": heading.depth === 3,
            },
          ]}
        >
          <a
            href={`#${heading.slug}`}
            class="text-text-muted hover:text-primary transition-colors block py-0.5"
          >
            {heading.text}
          </a>
        </li>
      ))}
    </ul>
  </nav>
)}
