---
import Year from "./Year.astro";
import Step from "./Step.astro";
import Divider from "./Divider.astro";
---

<h3 class="mt-8 mb-4 text-2xl font-bold tracking-tight md:text-4xl text-white">Timeline</h3>

<Year>2023</Year>
<ul>
  <Step title="Algorithm and Datastructures">
    My skills at solving algorithmic problems and datastructures are still not good enough. I want to improve them.
  </Step>
  <Step title="Path to Staff Engineer">
    I want to become a staff engineer. I want to be able to lead a team and be a mentor for junior developers. This is
    my focus for this year. Making an impact at the company and providing the best help in technology.
  </Step>
</ul>

<Year>2022</Year>
<ul>
  <Step title="Leadership & Ownership">
    Focussing on the soft skills that are required on the path to become a staff engineer.
  </Step>
  <Step title="Coach & Educate Junior Developers">
    Guiding junior developer to a better understanding of developing scalable frontend applications.
  </Step>
</ul>
<Divider />
<Year>2021</Year>
<ul>
  <Step title="Started consultancy">Became a fullstack developer at a medium consultant agency.</Step>
  <Step title="Senior frontend developer at KVK">Worked on the online platform for the Dutch Chamber Of Commerce.</Step>
  <Step title="Hardware and low level programming">
    As I started to undertake more projects, I started to learn more about the fundementals of programming. Focussing on
    systems programming and low level programming. Gives me a better insight into performance and memory management.
  </Step>
</ul>
<Divider />
<Year>2020</Year>
<ul>
  <Step title="Joined MoneyMonk">Came back to the MoneyMonk team.</Step>
  <Step title="Moved to Indonesia">
    I moved the Bali to work remote. My adventure was cut short because of the pandemic.
  </Step>
  <Step title="Helped introduce Shape Up">
    At the end of the year I got the upportunity to help introducing Shape Up and shape the process within the company
  </Step>
</ul>

<Divider />
