---
import Track from "../components/Track.astro";
import type { Track as TrackType } from "../models/track";
import { fetchTopTracks } from "../lib/spotify";

const tracks = await fetchTopTracks();
---

<div>
  {tracks.map((track: TrackType) => <Track {...track} />)}
</div>
