---
import { Code } from "astro/components";
import DefaultLayout from "../../layouts/default.astro";
import { fetchSnippets } from "../../utils";

export const snippets = await fetchSnippets();
---

<DefaultLayout prose={false} title={"Snippets"}>
  <ul role="list" class="divide-y divide-zinc-700 flex flex-col">
    {
      snippets.map((snippet) => {
        return (
          <li class="py-4 prose">
            <h2 class="text-lg font-semibold text-zinc-100 hover:text-zinc-200">{snippet.description}</h2>
            {snippet.files.map((file: string) => (
              <Code code={file} lang={"tsx"} theme={"poimandres"} wrap />
            ))}
          </li>
        );
      })
    }
  </ul>
</DefaultLayout>
