@tailwind base;

@tailwind components;

@font-face {
  font-family: 'Maison Neue';
  src: url('./fonts/MaisonNeue/MaisonNeue-Mono.ttf');
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('./fonts/ProximaNova/ProximaNova-Regular.ttf');
}

html {
  @apply bg-gray-100 antialiased;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.card {
  transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
  top: 0;
  position: relative;

  &:hover,
  &:focus {
    @apply shadow-lg;
    top: -8px;
  }
}

.content a,
.highlight {
  @apply font-semibold;
  text-decoration: none;
  background-image: none;
  text-shadow: none;
  color: inherit;
  position: relative;
  z-index: 1;

  &:before {
    @apply bg-yellow-600 opacity-75;
    bottom: 0;
    content: '';
    height: 10px;
    left: 4px;
    position: absolute;
    transition: 0.15s ease-in;
    width: 100%;
    z-index: -1;
  }
  &:hover {
    &:before {
      height: 1rem;
    }
  }
}

.content {
  h1,
  h2,
  h3 {
    @apply mb-4 mt-12;
  }

  p {
    @apply my-5;
  }

  .content ul {
    @apply ml-2;
  }
}

footer {
  li {
    span {
      @apply ml-1;
    }

    svg {
      @apply text-yellow-600;
    }
  }
}

.social-links li {
  @apply mr-2;
}

.thumbnail-container {
  @apply relative;

  .thumbnail {
    @apply rounded-t;
  }
}

.image-overlay {
  &::before {
    transform-origin: left top;
  }

  &::after {
    transform-origin: right bottom;
  }

  &::before,
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: transform 0.3s ease-out 0s;
    background: rgba(255, 255, 255, 0.1);
    content: '';
    pointer-events: none;
  }

  &:hover,
  &:focus {
    &::before,
    &::after {
      transform: scale3d(1, 1, 1);
    }
  }
}

.overlay {
  &:before {
    @apply rounded-t w-full h-full block absolute top-0 left-0 z-50 bg-black opacity-25;
    content: '';
  }
}

.btn {
  transition: all 0.4s;
}

.title {
  @apply my-4 text-center text-4xl;
}

@tailwind utilities;
