@tailwind preflight;

@tailwind components;

@tailwind utilities;

html {
    @apply bg-grey-lightest;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.content a,.highlight {
    color: inherit;
    position: relative;
    z-index: 1
}

.content a:before,.highlight:before {
    @apply bg-yellow-dark;
    bottom: 0;
    content: "";
    height: 10px;
    left: 4px;
    position: absolute;
    transition: .15s ease-in;
    width: 100%;
    z-index: -1;
}

footer li span {
    @apply ml-1;
}

footer li span svg {
    @apply text-yellow-dark;
}