@tailwind preflight;

@tailwind components;

html {
    @apply bg-grey-lightest;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.content a,.highlight {
    color: inherit;
    position: relative;
    z-index: 1
}

.content a:before,.highlight:before {
    @apply bg-yellow-dark;
    bottom: 0;
    content: "";
    height: 10px;
    left: 4px;
    position: absolute;
    transition: .15s ease-in;
    width: 100%;
    z-index: -1;
}

footer li span {
    @apply ml-1;
}

footer li span svg {
    @apply text-yellow-dark;
}

.social-links li {
    @apply mr-2;
}

.thumbnail {
    @apply rounded-t h-96;
}

.thumbnail-container {
    @apply relative;
}

.thumbnail-container::before {
    @apply rounded-t w-full h-full block absolute pin-t pin-l z-50 bg-black opacity-20;
    content: '';
}

@tailwind utilities;