---
import { Image } from "astro:assets";
import dayjs from "dayjs";
import type { Post } from "../models";
import DefaultLayout from "./default.astro";

type Props = {
	post: Post;
	lastModified: Date;
	headings?: { depth: number; slug: string; text: string }[];
};

const { post, headings = [] } = Astro.props;

const { title, description = "", cover, publishDate, toc = false } = post.data;
---

<DefaultLayout title={title} description={description} headings={headings} frontmatter={{ title, description, toc }}>
  <div class="mb-4">
    {publishDate && <div class="text-sm text-gray-500">{dayjs(publishDate).format("YYYY-MM-DD")}</div>}
  </div>

  {cover && <Image src={cover} alt="cover" class="w-full h-32 object-cover rounded-xl mb-4" />}

  <slot />
</DefaultLayout>
