---
import Sidebar from "../components/Sidebar.astro";
import Footer from "../components/Footer.astro";
import BaseHead from "../components/BaseHead.astro";

export type Props = {
  title?: string;
  description?: string | undefined;
  frontmatter?: {
    title?: string;
    description?: string | undefined;
  };
};

const { title, description, frontmatter } = Astro.props;
---

<html lang="en" class="text-white bg-zinc-900">
  <head>
    <BaseHead title={title || frontmatter?.title} description={description || frontmatter?.description} />
  </head>

  <body class="antialiased container px-12 py-24 grid grid-cols-[200px_auto] gap-8 mx-auto">
    <Sidebar className="lg:sticky lg:top-20" />
    <main class="px-16 md:px-0 prose prose-invert prose-h1:font-serif hover:prose-a:text-primary prose-a:transition">
      <article class="flex flex-col items-start justify-center w-full max-w-2xl mx-auto mb-16">
        {(title || frontmatter?.title) && <h1>{title || frontmatter?.title}</h1>}
        {
          (description || frontmatter?.description) && (
            <p class="mt-2 mb-8">{description || frontmatter?.description}</p>
          )
        }
        <div class:list={["w-full"]}>
          <slot />
        </div>
      </article>
    </main>
    <div class="col-start-2">
      <Footer />
    </div>
  </body>
</html>
