---
import Sidebar from "../components/Sidebar.astro";
import Footer from "../components/Footer.astro";
import BaseHead from "../components/BaseHead.astro";

type FrontMatter = {
  title?: string;
  description?: string | undefined;
  prose?: boolean;
};

export type Props = FrontMatter & {
  title?: string;
  description?: string | undefined;
  frontmatter?: FrontMatter;
};

const { title, description, frontmatter } = Astro.props;
const { prose = true } = Astro.props;
---

<html lang="en" class="text-white bg-zinc-900">
  <head>
    <BaseHead title={title || frontmatter?.title} description={description || frontmatter?.description} />
  </head>

  <body
    class="antialiased container md:px-12 py-24 grid grid-cols-1 auto-rows-max sm:grid-cols-[200px_1fr] gap-8 mx-auto justify-center md:justify-start"
  >
    <Sidebar className="md:sticky md:top-20 justify-self-center" />
    <main
      class:list={[
        { ["prose prose-invert"]: prose },
        "px-16 md:px-0 prose-h1:font-serif hover:prose-a:text-primary prose-a:transition prose-headings:tracking-wide",
      ]}
    >
      <article class="flex flex-col items-start justify-center w-full max-w-2xl mx-auto mb-16">
        {
          (title || frontmatter?.title) && (
            <h1 class="mt-8 mb-4 text-2xl font-bold tracking-tight md:text-4xl text-white">
              {title || frontmatter?.title}
            </h1>
          )
        }
        {
          (description || frontmatter?.description) && (
            <p class="mt-2 mb-8">{description || frontmatter?.description}</p>
          )
        }
        <div class:list={["w-full"]}>
          <slot />
        </div>
      </article>
    </main>
    <div class="sm:col-start-2 justify-self-center">
      <Footer />
    </div>
  </body>
</html>
