---
import SpeedInsights from "@vercel/speed-insights/astro";
import dayjs from "dayjs";
import { MobileMenu } from "../components/../components/mobile-menu.tsx";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Sidebar from "../components/Sidebar.astro";
import Background from "../components/background-raster.astro";
import type { Post } from "../models";

export type Props = Partial<Post["data"]> & {
	prose?: boolean;
};

const { title, summary, publishDate } = Astro.props;

const { prose = true } = Astro.props;
---

<html lang="en" class="text-white bg-zinc-900">
  <head>
    <BaseHead title={title} description={summary} />
  </head>

  <body
    class="antialiased container md:px-10 py-16 grid grid-cols-1 auto-rows-max md:grid-cols-[200px_1fr] gap-8 mx-auto justify-center md:justify-start"
  >
    <Background />
    <Sidebar className="md:sticky md:top-20 justify-self-center hidden md:block" />
    <MobileMenu client:media="(max-width: 768px)" />

    <main
      class:list={[
        {
          ["prose prose-invert prose-headings:font-serif hover:prose-a:text-primary prose-a:transition prose-headings:tracking-wide"]:
            prose,
        },
        "px-8 md:px-0",
      ]}
    >
      <article class="flex flex-col items-start justify-center w-full max-w-2xl mb-16">
        {
          title && (
            <h1 class="mt-8 mb-4 text-2xl font-bold tracking-tight md:text-4xl text-white font-serif capitalize">
              {title}
            </h1>
          )
        }
        {
          publishDate && (
            <p class="mt-1 text-sm text-gray-500">Published at: {dayjs(publishDate).format("MMMM D, YYYY")}</p>
          )
        }
        {summary && <p class="mt-2 mb-8 border-y border-y-zinc-500 w-full py-3">{summary}</p>}
        <div class:list={["w-full"]}>
          <slot />
        </div>
      </article>
    </main>
    <Footer class="md:col-start-2" />

    <SpeedInsights />
  </body>
</html>
