// Fonts
@import url("https://fonts.googleapis.com/css?family=Rubik|Inconsolata");
$font_path: '~@/assets/fonts/';
// Body: Rubik
// Headers: 
// Monospace: Inconsolata
@font-face {
  font-family: "Dank Mono";
  src: url($font_path + "ttf/DankMono-Regular.ttf") format("ttf");
}

.title {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $family-monospace;
}