/* HSL */

$maastricht-blue: hsla(240%, 59%, 11%, 1);
$yankees-blue: hsla(240%, 40%, 18%, 1);
$independence: hsla(228%, 34%, 31%, 1);
$sea-serpant: hsla(194%, 44%, 55%, 1);
$aquamarine: hsla(186%, 100%, 72%, 1);
/* RGB */

$maastricht-blue: rgba(11, 11, 43, 1);
$yankees-blue: rgba(27, 27, 63, 1);
$independence: rgba(53, 64, 107, 1);
$sea-serpant: rgba(89, 167, 191, 1);
$aquamarine: rgba(112, 240, 255, 1);
/* Override */

$primary: $maastricht-blue;
$info: $independence;
$link: $sea-serpant;
$background: $maastricht-blue;
$background-light: $yankees-blue;
$footer-background-color: $background-light;
$body-background-color: $background;
$family-monospace: "Inconsolata";
$family-primary: "Rubik";