// Fonts
@import url("https://fonts.googleapis.com/css?family=Poppins|Anonymous+Pro|Fira+Mono");

// Heading: Poppins
// Body: Anonymous pro

$family-monospace: "Anonymous Pro";

$family-primary: $family-monospace;

// Color scheme
$color-scheme-blue: #3423a6;
$color-scheme-violet: #231651;
$color-scheme-tulip: #ff8484;
$color-scheme-turquoise: #4dccbd;
$color-scheme-lazuli: #2374ab;

// $primary: $turquoise
// $link: $blue
// $info: $cyan
// $success: $green
// $warning: $yellow
// $danger: $red
// $dark: $grey-darker
// $text: $grey-dark

$primary: $color-scheme-blue;
$info: $color-scheme-tulip;
$link: $color-scheme-lazuli;
$info: $color-scheme-turquoise;

h1,
h2,
h3,
h4,
h5 {
  font-family: "Poppins";
}
