// Fonts
@import url("https://fonts.googleapis.com/css?family=Poppins|Anonymous+Pro|Fira+Mono|Karla");

// Heading: Poppins
// Body: Anonymous pro

$family-monospace: "Anonymous Pro";

$family-primary: "Karla";

// Color scheme
$color-scheme-blue: #3423a6;
$color-scheme-violet: #231651;
$color-scheme-tulip: #ff8484;
$color-scheme-turquoise: #4dccbd;
$color-scheme-lazuli: #2374ab;

$primary: $color-scheme-blue;
$info: $color-scheme-tulip;

$footer-background-color: darken($color-scheme-violet, 12);

h1,
h2,
h3,
h4,
h5 {
  font-family: "Poppins";
}
