@import "./variables";

@import "~bulma/bulma";
@import "~buefy/src/scss/buefy";

// Hovering underline on link
.content a {
  text-decoration: none;
  display: inline-block;
  position: relative;
  color: $primary;
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: $color-scheme-tulip;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  &:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}

// Button hovering
button:hover {
  color: $primary;
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}
