// Fonts
@import url("https://fonts.googleapis.com/css?family=Poppins|Anonymous+Pro");

// Heading: Poppins
// Body: Anonymous pro

$family-primary: "Anonymous Pro";

// Color scheme
$color-scheme-blue: #3423a6;
$color-scheme-violet: #231651;
$color-scheme-tulip: #ff8484;
$color-scheme-turqiose: #4dccbd;
$color-scheme-lazuli: #2374ab;

$primary: #3423a6;

h1,
h2,
h3,
h4,
h5 {
  font-family: "Poppins";
}
